package ${pkg}.common.utils;

public enum ErrorCode {
    NOT_FOUND(404,"Not found");

    private Integer code;
    private String msg;

    ErrorCode(int code, String msg) {
        this.code = code;
        this.msg = msg;
    }

    public int getCode() {
        return code;
    }

    public String getMsg() {
        return msg;
    }

}