package ${pkg}.common.utils;

#if(${enableLombok})
import lombok.Getter;
#end

#if(${enableLombok})
@Getter
#end
public enum ErrorCode {
    NOT_FOUND(404,"Not found");

    private Integer code;
    private String msg;

    ErrorCode(int code, String msg) {
        this.code = code;
        this.msg = msg;
    }

#if(!${enableLombok})
    public int getCode() {
        return code;
    }

    public String getMsg() {
        return msg;
    }
#end

}