package ${pkg}.${moduleName}.mapper;

import ${pkg}.${moduleName}.entity.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * 
 * @author $!{author}
 * @email $!{email}
 * @date $!{datetime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
	
}
