package ${pkg}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${pkg}.common.utils.PageUtils;
import ${pkg}.${moduleName}.entity.${className}Entity;

import java.util.Map;

/**
 *
 * @author $!{author}
 * @email $!{email}
 * @date $!{datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {
    PageUtils queryPage(Map<String, Object> params);
}

